.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  padding: 4rem 0;
  flex: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
}

.player {
  font-size: small;
  position: absolute;
  bottom: 5px;
}
